@{
	ViewBag.Title = "WithoutLogging";
}

<h2>@ViewBag.Title</h2>
<p>If you check the <a href="#" data-glimpse-trace="show" title="open trace tab of Glimpse">Trace tab</a> of the Glimpse panel, you will see 
	zero log entries; you should see two: one from the controller and one from the filter.</p>
<p>This is not working as expected.</p>
