@{
	ViewBag.Title = "With Logging";
}

<h2>@ViewBag.Title</h2>
<p>If you check the <a href="#" data-glimpse-trace="show" title="open trace tab of Glimpse">Trace tab</a> of the Glimpse panel, you should see 
	two log entries; one from the controller and one from the filter.</p>
<p>This is working as expected.</p>
